body {
    background-color: darkblue;
    background-image: linear-gradient(darkblue, deepskyblue);
    color: #FAF9F6;
    font-family: Calibri;
    font-size: 18px;
 
}

a {
    color: white;
}

a:visited {
    color: white;
}

.container {
    display: flex;
}

.container img {
    
    width: 200px;
    border-radius: 50%;
    margin: 40px 10px 10px 20px;
    border: solid 2px #FAF9F6;
}

.container .headshot .details {
    text-align: center;
}

.container .main {
    padding: 2% 10% 5% 5%;
    flex-grow:1;
    align-self:auto;
    font-family: Calibri;
    font-size: 18px;
 }

 .headshot h2 {
    padding-left: 10px;
    text-decoration: underline;
 }

